* {
    margin:0;
    padding:0;
    background:none;
} /* Reset margin/padding for better cross-browser compatibility */


body {
    font-size:18px;
    min-width:300px;
    max-width: 1440px;
    margin: 0 auto;
}

#site_footer {
    background:#E2E2E2; /* Placeholder color */
    min-height:500px; /* Placeholder style */
}

#site_header video {
    z-index:1;
    width:100vw;
}

#site_header .headingWrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    z-index:2;
    position:absolute;
    top:40%;
}

#site_header .headingWrap h1 {
    grid-column: 2/9;
    text-align: left;
    color:#fff;
    padding:0;

}

#site_header {
  position:relative;
  background: #E2E2E2;
  min-height:5em;
  max-height:100vh;
  overflow:hidden;
}

/*************************** burger Menu ***************************/
#burgerMenu {
  position:absolute;
  top:1em;
  right:1em;
  width:4em;
  height: 100vh;
  background:rgba(0,0,0,0.3);
  overflow:hidden;
}

#burgerMenu button {
    border:0;
    font-size:3em;
    color:#fff;
    display:block;
    margin:0 auto 1em;}

#burgerMenu button:hover {color:#ff0000;}

#burgerMenu ol {list-style-type:none;}

#burgerMenu a {
    font-size:1em;
    color:#fff;
}

.icon {
  margin:0 auto;
  width:150px;
  height:150px;
}

.bigImg {
  margin:0 auto;
  max-width:290px;
}
.bigImg h2 {text-align:center;}


#site_footer {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
#site_footer section {
  flex-basis:200px;
}
#site_footer p, #site_footer h2 {
  margin:0;padding:0 0 0; /* Overwrite declerations from before in the CSS */
}


/*************************** Fonte ***************************/

h1 {
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h4 {

}

p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    line-height: 1.5em;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

/*************************** Fonte slut ***************************/


/*************************** Ladyfingers ***************************/

#ladyfingers_forside {
    background: #ffffff;
    padding: 5em 0px;
}

#ladyfingers_forside img {
    width: 100%;
    height: auto;
}

#ladyfingers_forside .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#ladyfingers_forside .ladyfingers_image {
    grid-column: 1/8;
}

#ladyfingers_forside .ladyfingers_text {
    grid-column: 9/12;
    position: relative;
    top: 4em;
}

#ladyfingers_forside a {
    text-decoration: none;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px 40px;
    line-height: 6em;
}

#ladyfingers_forside a:hover {
    color: #ffffff;
    border: #000000 solid 1px;
    background: #000000;
    padding: 10px 40px;
    transition: 0.5s;
}

/*************************** Ladyfingers slut ***************************/


/*************************** instagram ***************************/

#instagram_main {
    padding: 5em 0px;
}

#instagram_main .text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#instagram_main .text_item {
    grid-column: 3/7;
    position: relative;
    right: 3.5em;
}

/*************************** instagram slut ***************************/


/*************************** unikke smykker - pers service ***************************/

#unik_personlig {
    background: #fcfbf4;
}

#unik_personlig img {
    width: 100%;
    height: auto;
}

#unik_personlig .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    top: 6em;
}

#unik_personlig .unik_image {
    grid-column: 1/7;
}

#unik_personlig .unik_text {
    grid-column: 8/11;
    position: relative;
    top: 8em;
}

#unik_personlig .unik_text h2 {
    white-space: nowrap;
}

#unik_personlig .personlig_text {
    grid-column: 3/6;
    position: relative;
    top: 10em;
}

#unik_personlig .personlig_text h2 {
    white-space: nowrap;
}

#unik_personlig .personlig_image {
    grid-column: 8/13;
}




/*************************** unikke smykker - pers service slut ***************************/


/*************************** specialfremstillede smykker ***************************/

#special_smykker {
    background: #d2af91;
}

#special_smykker img {
    width: 100%;
    height: auto;
}

#special_smykker .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    top: 6em;
}

#special_smykker .special_image {
    grid-column: 2/7;
}

#special_smykker .special_text {
    grid-column: 8/11;
    position: relative;
    top: 10em;
}

#special_smykker h2 {
    position: relative;
    right: 300px;
}

/*************************** specialfremstillede smykker  slut ***************************/


/*************************** gaden ***************************/

#gaden {
    background: #ffffff;
    padding: 11em 0px;
}

#gaden .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#gaden .gaden_text {
    grid-column: 2/5;
    position: relative;
    top: 10em;
}

#gaden .imgWrap {
    grid-column: 6/13;
}

#gaden h2 {
    color: #ffffff;
    position: relative;
    top: 3.7em;
    left: 2em;
    z-index: 1;
}

#gaden a {
    text-decoration: none;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px 40px;
    line-height: 6em;
}

#gaden a:hover {
    color: #ffffff;
    border: #000000 solid 1px;
    background: #000000;
    padding: 10px 40px;
    transition: 0.5s;
}

/*************************** gaden slut ***************************/


/* Standard table styles */
table { /* Used in footer on opening-hourd (Danish: Åbningstider) */
  border-spacing: 1em;
}

/* Standard flex-boxes */
.flexbox {
  display:flex;
  flex-wrap:wrap;
}
.flex-column {
  flex-basis:300px;
}

  /*
     ***** Specific styles *****
  */
  

/* Instagram Gallery Wordpress Plugin */
.ig-block {
  margin:1em 0;
}


.contentImg {
  width:100%;
  min-width:290px;
  height:400px;
  background:#E2E2E2;
  text-align:center;
  font-size:3em;
}
.contentImg p {
  
}

.imgWrap {
    width:100%;
}

@media screen and (min-width:1280px) {
  #jaegersborggade_img {
    background: url("https://ladyfingers.beamtic.com/wordpress/wp-content/uploads/2018/05/jagersborggade_1600.jpg") no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 0;
    padding-top: 66.64%; /* makes the element behave more like img */
    margin:0 auto;
  }
}




