*{margin:0;padding:0;background:none;} /* Reset margin/padding for better cross-browser compatibility */
h1,h2,h3,h4,h5,h6,p {padding:1em 0 0 0;} /* Using Padding instead of Margin avoids added whitespace on parent elements */
body {font-size:18px;min-width:300px;}
p {padding: 1em 1.5em;max-width:1080px;width:100%;margin:1em auto;}
article {
  min-height:300px;
}
section p {
  padding: 1em 1.5em;
}
section h2 {
  padding: 1em 1em;
}
#site_footer {
  background:#E2E2E2; /* Placeholder color */
  min-height:500px; /* Placeholder style */
}
#site_header video {
  z-index:1;
  width:100vw;
}
#site_header .headingWrap {
  z-index:2;
  position:absolute;
  top:40%;left:0;
  width:100%;
}
#site_header .headingWrap h1 {
  font-size:3em;
  text-align:center;
  color:#fff;
  padding:0;
}
#site_header {
  position:relative;
  background: #E2E2E2;
  min-height:5em;
  max-height:100vh;
  overflow:hidden;
}
#burgerMenu {
  position:absolute;
  top:1em;
  right:1em;
  width:4em;
  height:4em;
  background:rgba(0,0,0,0.3);
  border-radius:1em;
  padding:0.5em;
  overflow:hidden;
}
#burgerMenu button {border:0;font-size:3em;color:#fff;display:block;margin:0 auto 1em;}
#burgerMenu button:hover {color:#ff0000;}
#jaegersborggade_img {
  position:relative;
  background-size:contain;
}
#jaegersborggade_img p {
  position:absolute;
  top:40%;
  left:0;
  width:100%;
  text-align:center;
  font-size:4em;
  color:#fff;
  font-weight:bold;
}
.icon {
  margin:0 auto;
  width:150px;
  height:150px;
}
.bigImg {
  margin:0 auto;
  max-width:290px;
}
.bigImg h2 {text-align:center;}

#site_header h1, #icons h2 {
  text-align:center;
}
#site_footer {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
#site_footer section {
  flex-basis:200px;
}
#site_footer p, #site_footer h2 {
  margin:0;padding:1em 0 0; /* Overwrite declerations from before in the CSS */
}


/*************************** Fonte ***************************/

h1 {
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h4 {

}

p {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

a {

}

/*************************** Fonte slut ***************************/


/*************************** Ladyfingers ***************************/

#ladyfingers_forside {
    background: #ffffff;
    padding: 100px 0px;
}

#ladyfingers_forside img {
    width: 100%;
    height: auto;
}

#ladyfingers_forside .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#ladyfingers_forside .ladyfingers_image {
    grid-column: 1/8;
}

#ladyfingers_forside .ladyfingers_text {
    grid-column: 9/12;
    margin-top: 100px;
}

#ladyfingers_forside a {
    text-decoration: none;
    color: #000000;
    border: #000000 solid 1px;
    padding: 5px 10px;
}

/*************************** Ladyfingers slut ***************************/


/*************************** instagram ***************************/

#instagram_main {
    padding: 100px 0px;
}

#instagram_main .text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#instagram_main .text_item {
    grid-column: 3/7;
}

/*************************** instagram slut ***************************/


/*************************** unikke smykker - pers service ***************************/

#unik_personlig {
    background: #fcfbf4;
    padding: 100px 0px;
}

#unik_personlig img {
    width: 100%;
    height: auto;
}

#unik_personlig .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#unik_personlig .unik_image {
    grid-column: 1/7;
}

#unik_personlig .unik_text {
    grid-column: 8/11;
}

#unik_personlig .personlig_text {
    grid-column: 3/6;
}

#unik_personlig .personlig_image {
    grid-column: 8/13;
}




/*************************** unikke smykker - pers service slut ***************************/


/*************************** specialfremstillede smykker ***************************/

#special_smykker {
    background: #d2af91;
    padding: 100px 0px;
}

#special_smykker img {
    width: 100%;
    height: auto;
}

#special_smykker .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#special_smykker .special_image {
    grid-column: 2/7;
}

#special_smykker .special_text {
    grid-column: 8/11;
}

#special_smykker h2 {
    position: relative;
    right: 300px;
}

/*************************** specialfremstillede smykker  slut ***************************/


/*************************** gaden ***************************/

#gaden {
    background: #ffffff;
    padding: 100px 0px;
}

#gaden .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#gaden .gaden_text {
    grid-column: 2/5;
}

#gaden .imgWrap {
    grid-column: 6/13;
}

#gaden h2 {
    color: #ffffff;
    position: relative;
    top: 300px;
    z-index: 1;
}
/*************************** gaden slut ***************************/


/* Standard table styles */
table { /* Used in footer on opening-hourd (Danish: Åbningstider) */
  border-spacing: 1em;
}

/* Standard flex-boxes */
.flexbox {
  display:flex;
  flex-wrap:wrap;
}
.flex-column {
  flex-basis:300px;
}

  /*
     ***** Specific styles *****
  */
  

/* Instagram Gallery Wordpress Plugin */
.ig-block {
  margin:1em 0;
}


.contentImg {
  width:100%;
  min-width:290px;
  height:400px;
  background:#E2E2E2;
  text-align:center;
  font-size:3em;
}
.contentImg p {
  
}

.imgWrap {
    width:100%;
}

@media screen and (min-width:1280px) {
  #jaegersborggade_img {
    background: url("https://ladyfingers.beamtic.com/wordpress/wp-content/uploads/2018/05/jagersborggade_1600.jpg") no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 0;
    padding-top: 66.64%; /* makes the element behave more like img */
    margin:0 auto;
  }
}




