* {margin:0;padding:0;} /* Reset margin/padding for better cross-browser compatibility */


body {
    font-size:18px;
    min-width:300px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden;
}


/*************************** header ***************************/
#site_header_logo_white {position:absolute;top:0.5em;left:0;text-align:center;width:100%;}
#site_header_logo_white img {height:90px;}
#site_header_follow_white {
  position:absolute;top:2em;left:0;
  z-index:3;
}

#site_header_follow_white a {
  width:1em;height:1em;
  font-size:1.2em;
  color:#fff;
  padding:0 1em;
}

#site_header_logo_black {position:absolute;top:0.5em;left:0;text-align:center;width:100%;}
#site_header_logo_black img {height:90px;}
#site_header_follow_black {
  position:absolute;top:2em;left:0;
  z-index:3;
}

#site_header_follow_black a {
  width:1em;height:1em;
  font-size:1.2em;
  color:#000;
  padding:0 1em;
}

#custom_header_content #site_header_follow_white a:link {color: #fff;}
#custom_header_content #site_header_follow_white a:visited {color: #fff;}
#custom_header_content #site_header_follow_white a:hover {color: #799997;;}
#custom_header_content #site_header_follow_white a:active {color: #799997;}
#custom_header_content #site_header_follow_black a:link {color: #000;}
#custom_header_content #site_header_follow_black a:visited {color: #000;}
#custom_header_content #site_header_follow_black a:hover {color: #799997;;}
#custom_header_content #site_header_follow_black a:active {color: #799997;}

#site_header video, #site_header #header_img  {
  z-index:1;
  width:100vw;
}

#site_header video {
    z-index:1;
    width:100vw;
}

#site_header {
    background: #E2E2E2;
  max-height:100vh;
  overflow:hidden;
    position: relative;
}

#site_header .headingWrap {
    z-index:2;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-0%, -50%);
    max-width: 600px;
}

#site_header .headingWrap h1 {

    color:#fff;
    padding:0;
}


/*************************** header slut ***************************/

.icon {
  margin:0 auto;
  width:150px;
  height:150px;
}

.bigImg {
  margin:0 auto;
  max-width:290px;
}
.bigImg h2 {text-align:center;}


/*************************** Footer ***************************/


#site_footer {
    background: #fcfbf4;
    display: grid;
    grid-template-columns: 1fr 1.26fr 0.5fr 1.26fr 0.5fr 1.26fr 0.5fr 1.26fr 3fr;
    grid-template-rows: 0.6fr 1fr 1fr 0.6fr;
}

footer img {
    height: 50px;
}

footer p {
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    line-height: 2em;
}

tr {
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
}

td {
    padding-right: 2em;
}

footer #logo {
    grid-column: 2/3;
    grid-row: 2/3;
}

footer #address {
    grid-column: 4/5;
    grid-row: 2/3;
}

footer #tider {
    grid-column: 6/7;
    grid-row: 2/4;
}

footer #kontakt {
    grid-column: 8/9;
    grid-row: 2/3;
}

footer #folg {
    grid-column: 9/10;
    grid-row: 2/3;
    justify-self: center;
}

footer #folg .folg_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

footer #folg i {
    color: #000000;
    padding: 0px 20px;
    margin: 0;
    font-size: 1.2em;
}

footer #folg i:hover {
    color: #799997;
}

footer #copyright {
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: end
}


/*************************** Footer slut ***************************/


/*************************** Fonte ***************************/
h1,h2,h3,a {font-family: 'Raleway', sans-serif;font-weight: 400;}
h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: 700;
}

h4 {
    font-size: 0.8em;
    padding: 0;
    line-height: 2em;
}

p {
    font-size: 1em;
    padding: 0;
    line-height: 1.5em;
}

a {
    font-size: 1em;
}

/*************************** Fonte slut ***************************/


/*************************** Ladyfingers ***************************/

#ladyfingers_forside {
    background: #ffffff;
    padding: 5em 0px;
}

#ladyfingers_forside img {
    width: 100%;
    height: auto;
}

#ladyfingers_forside .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#ladyfingers_forside .ladyfingers_image {
    grid-column: 1/8;
}

#ladyfingers_forside .ladyfingers_text {
    grid-column: 9/12;
    position: relative;
    top: 4em;
}

#ladyfingers_forside a {
    text-decoration: none;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px 40px;
    line-height: 6em;
}

#ladyfingers_forside a:hover {
    color: #ffffff;
    border: #000000 solid 1px;
    background: #000000;
    padding: 10px 40px;
    transition: 0.5s;
}

/*************************** Ladyfingers slut ***************************/


/*************************** instagram ***************************/

#instagram_main {
    padding: 5em 0px;
}

#instagram_main .text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#instagram_main .text_item {
    grid-column: 3/7;
    position: relative;
    right: 2em;
}

/*************************** instagram slut ***************************/


/*************************** unikke smykker - pers service ***************************/

#unik_personlig {
    background: #fcfbf4;
}

#unik_personlig img {
    width: 100%;
    height: auto;
}

#unik_personlig .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    top: 6em;
}

#unik_personlig .unik_image {
    grid-column: 1/7;
}

#unik_personlig .unik_text {
    grid-column: 8/11;
    position: relative;
    top: 10em;
}

#unik_personlig .unik_text h2 {
    white-space: nowrap;
}

#unik_personlig .personlig_text {
    grid-column: 3/6;
    position: relative;
    top: 8em;
}

#unik_personlig .personlig_text h2 {
    white-space: nowrap;
}

#unik_personlig .personlig_image {
    grid-column: 8/13;
}

/*************************** unikke smykker - pers service slut ***************************/


/*************************** specialfremstillede smykker ***************************/

#special_smykker {
    background: #d2af91;
}

#special_smykker img {
    width: 100%;
    height: auto;
}

#special_smykker .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    top: 6em;
}

#special_smykker .special_image {
    grid-column: 2/7;
}

#special_smykker .special_text {
    grid-column: 8/11;
    position: relative;
    top: 10em;
}

#special_smykker h2 {
    position: relative;
    right: 300px;
}

/*************************** specialfremstillede smykker  slut ***************************/


/*************************** gaden ***************************/

#gaden {
    background: #ffffff;
    padding: 11em 0px;
}

#gaden .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#gaden .gaden_text {
    grid-column: 2/5;
    position: relative;
    top: 10em;
}

#gaden .imgWrap {
    grid-column: 6/13;
}

#gaden h2 {
    color: #ffffff;
    position: relative;
    top: 3.7em;
    left: 2em;
    z-index: 1;
}

#gaden a {
    text-decoration: none;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px 40px;
    line-height: 6em;
}

#gaden a:hover {
    color: #ffffff;
    border: #000000 solid 1px;
    background: #000000;
    padding: 10px 40px;
    transition: 0.5s;
}


/*********************************
 *
 *     BURGER MENU
 *
 *
 *********************************
 */
#burgerMenu {
  position:fixed;
  top:0;
  right:0;
  padding:1em;
  overflow:hidden;
  height:4em;width:4em;
  z-index:2000; /* Very high z-index is needed due to conflict with Instagram Gallery code */
  background:rgba(243,243,244, 0);
  border-bottom-left-radius:70%;
}
#burgerMenu button {
	float:right;
	border:0;
	display:block;
	margin:0 auto 4em;
	width:90%;
	max-width:4em;
	padding:1em;
	outline:none;
    background: none;
}
#burgerMenu button:hover {color:#000000;cursor:pointer;}
#burgerMenu ol {list-style-type:none;width:100%;clear:both;}
#burgerMenu a {
  display:block;
  text-align:center;
  font-size:1.2em;
  color:#000;
  text-decoration:none;
  padding:0.1em 0;
  width:100%;
}
#burgerMenu a:hover {color:#ff0000;}
#burgerMenu span {
	display:block;
	width:95%;
	height:5px;
	background:#fff;
	margin: 0 auto;
}
#burgerMenu span + span {
	margin:10px auto 0;
}
/* Animations */
.menuOpen {
  animation: open_menu_anim 1s forwards;
}
.menuClosed {
  animation: close_menu_anim 1s forwards;
}

@keyframes close_menu_anim {
  0% {width:100%;height:100vh;background:rgba(243,243,244, 1);}
  50% {width:100%;height:4em;}
  100% {width:4em;height:4em;background:rgba(243,243,244, 0);border-bottom-left-radius:100%;}
}
@keyframes open_menu_anim {
  0% {width:4em;height:4em;}
  50% {width:100%;height:4em;border-bottom-left-radius:100%;}
  100% {width:100%;height:100vh;background:rgba(243,243,244, 1);border-bottom-left-radius:0;}
}


/*********************************
 *
 *     MEDIA QUERIES
 *
 *
 *********************************
 */

@media screen and (max-width: 1396px) {
    #site_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.6fr 1fr 0.3fr 0.3fr;
}

footer #logo {
    grid-column: 2/4;
    grid-row: 2/3;
}

footer #address {
    grid-column: 2/4;
    grid-row: 3/4;
}

footer #tider {
    grid-column: 4/8;
    grid-row: 3/4;
}

footer #kontakt {
    grid-column: 6/7;
    grid-row: 3/4;

}

footer #folg {
    grid-column: 7/10;
    grid-row: 3/4;
    justify-self: center;
}

footer #folg .folg_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


footer #copyright {
    grid-column: 2/4;
    grid-row: 4/5;
    align-self: end;
}

}

@media screen and (max-width: 1024px) {

    #site_header video {
      z-index:1;
      width: auto;
      height: 100vh;
    }

    #ladyfingers_forside .ladyfingers_text {
      top: 0;
    }

    #unik_personlig .unik_text {
    top: 6em;
}

    #unik_personlig .personlig_text {
    grid-column: 2/5;
    top: 4em;
}

    #special_smykker .special_text {
    top: 4em;
}

    #gaden .gaden_text {
    top: 4em;
}

    #gaden h2 {
      color: #ffffff;
      position: relative;
      top: 3em;
      left: 1em;
      z-index: 1;
    }

    #jaegersborggade_img {
      background: url("https://ladyfingers.beamtic.com/wordpress/wp-content/uploads/2018/05/jagersborggade_1600.jpg") no-repeat;
      background-position: center;
      background-attachment: fixed;
      width:100%;
      padding-top: 66.64%; /* makes the element behave more like img */
    }
}

@media screen and (max-width: 768px) {

    #ladyfingers_forside .wrapper {
     grid-template-columns: 1fr;
    }

    #ladyfingers_forside img {
      width: 100%;
      position: relative;
      right: 1em;
    }
    
    #ladyfingers_forside .ladyfingers_text {
      grid-column: 1;
      padding: 0 1em;
      margin-top: 4em;
    }

    #gaden {
      padding: 12em 0 6em 0;
    }

    #gaden .wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }

    #gaden .gaden_text {
      grid-column: 1;
      position: static;
      padding: 0 1em;
      order: 2;
      margin-top: 4em;
    }

    #gaden .imgWrap {
      grid-column: 1;
      order: 1;
      position: relative;
      left: 1em;
    }

    #gaden h2 {
      color: #ffffff;
      position: relative;
      top: 8em;
      left: 1em;
      z-index: 1;
    }

    #jaegersborggade_img {
      background: url("https://ladyfingers.beamtic.com/wordpress/wp-content/uploads/2018/05/jagersborggade_1600.jpg") no-repeat;
      background-position: center;
      background-attachment: fixed;
      width:100%;
      padding-top: 66.64%; /* makes the element behave more like img */
    }

	#special_smykker {
      position: relative;
      top: 10em;
      height: 37em;
    }

    #special_smykker .special_text {
      position: relative;
      top: 8em;
    }

    #special_smykker h2 {
      position: relative;
      right: 4em;
    }

    #unik_personlig .unik_text {
      top: 2em;
    }

    #unik_personlig .personlig_text {
      top: 3em;
        grid-column: 2/7;
    }

    #unik_personlig .wrapper:nth-of-type(1) {
      padding-bottom: 6em;
    }

    #unik_personlig .wrapper:nth-of-type(2) {
      background: #ffffff;
      height: 400px;
      padding-top: 6em;
    }
    
    #site_header video {
      z-index:1;
      width: auto;
      height: 100vh;
    }

    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 2em;
      margin-bottom: 1em;
    }
    #instagram_main {
        padding: 0 1em 4em 1em;
    }

    #instagram_main .text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 1em;
    }

    #instagram_main .text_item {
        grid-column: 1/2;
      padding: 0 1em;
    }
    
    #site_footer {
    display: grid;
    grid-template-columns: 1fr 1.26fr 0.5fr 1.26fr 0.5fr 1.26fr 0.5fr 1.26fr 1fr;
    grid-template-rows: 0.4fr 0.6fr 1fr 0.3fr 0.3fr;
}

footer #logo {
    grid-column: 3/5;
    grid-row: 2/3;
}

footer #address {
    grid-column: 3/5;
    grid-row: 3/4;
}

footer #tider {
    grid-column: 6/9;
    grid-row: 3/4;
}

footer #kontakt {
    grid-column: 3/5;
    grid-row: 3/4;
    position: relative;
    top: 8em;
}

footer #folg {
    grid-column: 4/7;
    grid-row: 4/5;
    align-self: end;
    justify-self: center;
}

footer #folg .folg_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


footer #copyright {
    grid-column: 4/7;
    grid-row: 5/6;
    align-self: end;
    justify-self: center;
}
}

@media screen and (max-width: 400px) {
  #site_header video {
    position: relative;
    right: 20em;
  }

  #instagram_main .text {
    display: grid;
    grid-template-columns: 1fr;
      padding: 0px !important;
  }

  #instagram_main .text_item {
    grid-column: 1/3 !important;
    position: static;
      padding: 0px !important;
  }

    #unik_personlig .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    position: static;
  }

    #unik_personlig img {
    width: 100%;
    height: auto;
  }

  #unik_personlig .unik_image {
    grid-column: 1;
    order: 1;
    position: relative;
    right: 1em;
  }

  #unik_personlig .unik_text {
    grid-column: 1;
    position: static;
    order: 2;
    padding: 0 1em;
    margin-top: 4em;
  }

  #unik_personlig .unik_text h2 {
    white-space: normal;
  }

    #unik_personlig .personlig_text {
    grid-column: 1;
    position: static;
    order: 4;
    margin-top: 4em;
    position: relative;
    top: -20em;
    padding: 0 1em;
  }

  #unik_personlig .personlig_image {
    grid-column: 1;
    order: 3;
    position: relative;
    top: -20em;
    left: 1em;
  }

  #unik_personlig .wrapper:nth-of-type(1) {
    padding-top: 6em;
    padding-bottom: 20em;
  }

  #unik_personlig .wrapper:nth-of-type(2) {
    background: #ffffff;
    height: 300px;
  }

  #special_smykker {
    padding: 6em 1em;
  }

  #special_smykker img {
    width: 100%;
    height: auto;
  }

  #special_smykker .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    position: static;
  }

  #special_smykker .special_image {
    grid-column: 1;
  }

  #special_smykker .special_text {
    grid-column: 1;
    position: static;
    margin-top: 4em;
  }

  #special_smykker h2 {
    position: static;
    white-space: normal;
  }

    #gaden {
    padding: 6em 0px;
  }

  #gaden .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 6em;
  }

  #gaden .gaden_text {
    grid-column: 1;
    position: static;
    padding: 0 1em;
    order: 2;
    margin-top: 4em;
  }

  #gaden .imgWrap {
    grid-column: 1;
    order: 1;
    position: relative;
    left: 1em;
  }

  #gaden h2 {
    color: #ffffff;
    position: relative;
    top: 4.5em;
    left: 1em;
    z-index: 1;
  }

  #jaegersborggade_img {
    background: url("https://ladyfingers.beamtic.com/wordpress/wp-content/uploads/2018/05/jagersborggade_1600.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    padding-top: 66.64%; /* makes the element behave more like img */
  }

  #site_footer {
    display: grid;
    grid-template-columns: 1fr 1.26fr 0.5fr 1.26fr 0.5fr 1.26fr 0.5fr 1.26fr 1fr;
    grid-template-rows: 0.4fr 0.6fr 1fr 0.3fr 0.3fr;
    padding-left: 1em;
}

footer #logo {
    grid-column: 1/5;
    grid-row: 2/3;
}

    td {
    padding-right: 1em;
}

footer #address {
    grid-column: 1/5;
    grid-row: 3/4;
}

footer #tider {
    grid-column: 5/10;
    grid-row: 3/4;
}

footer #kontakt {
    grid-column: 1/5;
    grid-row: 3/4;
    position: relative;
    top: 8em;
}

footer #folg {
    grid-column: 2/9;
    grid-row: 4/5;
    align-self: end;
    justify-self: center;
}


footer #copyright {
    grid-column: 2/9;
    grid-row: 5/6;
    align-self: end;
    justify-self: center;
}

  h1 {
    font-size: 2em !important;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
}


@media screen and (min-width:1280px) {
  #jaegersborggade_img {
    background: url("https://ladyfingers.beamtic.com/wordpress/wp-content/uploads/2018/05/jagersborggade_1600.jpg") no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 0;
    padding-top: 66.64%; /* makes the element behave more like img */
    margin:0 auto;
  }
}



/************************ about siden **********************/

/************************ about siden **********************/

#smykkefaellesskab {
    padding: 6em 1em 6em 1em;
}

#smykkefaellesskab a {
    text-decoration: none;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px 40px;
    line-height: 6em;
}

#vaerdier img {
    width: 100%;
    position: relative;
    right: 1em;
}

#vaerdier .ord {
    position: relative;
    top: -3em;
    padding-left: 1rem;
    color: #d2af91;
}

#vaerdier h2 {
    font-size: 3em;
    line-height: 0.5;
}

#kreativitet {
    padding: 0 1em 6em 1em;
}

#kreativitet img {
    width: 100%;
}

#kreativitet .text {
    margin-top: 4em;
}

#smykker img {
    width: 100%;
    margin-bottom: -5px;
}

#smykker .text {
    padding: 6em 1em 6em 1em;
    background: #e1e2e3;
}

#presseomtale {
    padding: 6em 1em 6em 1em;
}

#presseomtale .grid-column {
    padding-top: 4em;
}

#presseomtale h2 {
    margin: 0;
}

#presseomtale q {
    font-size: 1.5em;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
    font-style:italic;
    margin:0.5em;
}
q:after {
    content: close-quote;
    font-style:italic;
    margin:0.5em;
}

#presseomtale a {
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
}

@media only screen and (min-width: 401px) and (max-width: 1024px) {

#vaerdier {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    #vaerdier img {
        grid-column: 1/9;
    }

    #vaerdier .ord {
        grid-column: 8/12;
        position: relative;
        top: -15em;
        padding: 0;
    }

    #kreativitet {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    #kreativitet .text {
        grid-column: 2/5;
        order: 1;
        margin: 0;
    }

    #kreativitet img {
        grid-column: 7/12;
        order: 2;
        width: 100%;
    }

    #smykker {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    #smykker img {
        width: 100%;
    }

    #smykker .image {
        grid-column: 1/7;
        order: 1;

    }

    #smykker .text {
        grid-column: 7/13;
        order: 2;

    }

    #smykker p, #smykker h2 {
        padding: 0 6vw;
    }

    #presseomtale h2 {
         text-align: center;
    }

    #presseomtale .grid {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr 2fr 0.5fr 2fr 1fr;
    }

    #presseomtale .grid-column:nth-of-type(1) {
        grid-column: 2/3;
    }

    #presseomtale .grid-column:nth-of-type(2) {
        grid-column: 4/5;
    }

    #presseomtale .grid-column:nth-of-type(3) {
        grid-column: 6/7;
    }
}

@media only screen and (min-width: 1025px) {
    #vaerdier {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-bottom: 6em;
    }

    #vaerdier img {
        grid-column: 1/9;
        grid-row: 1;
    }

    #vaerdier .ord {
        grid-column: 8/12;
        position: relative;
        top: 7em;
        padding: 0;
        font-size: 1.6em;
        grid-row: 1;
    }



    #kreativitet {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-bottom: 6em;
    }

    #kreativitet .text {
        grid-column: 2/5;
        order: 1;

    }

    #kreativitet h2 {
        white-space: pre;
    }

    #kreativitet img {
        grid-column: 7/12;
        order: 2;
        width: 100%;
    }

    #smykker {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    #smykker img {
        width: 100%;
    }

    #smykker .image {
        grid-column: 1/7;
        order: 1;

    }

    #smykker .text {
        grid-column: 7/13;
        order: 2;
        padding: 0;
    }

    #smykker .text_grid{
        grid-column: 8/12;
        position: relative;
        top: 30%;
    }

    #smykker p, #smykker h2 {
        padding: 0 6vw;
    }

    #presseomtale h2 {
         text-align: center;
    }

    #presseomtale .grid {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr 2fr 0.5fr 2fr 1fr;
    }

    #presseomtale .grid-column:nth-of-type(1) {
        grid-column: 2/3;
    }

    #presseomtale .grid-column:nth-of-type(2) {
        grid-column: 4/5;
    }

    #presseomtale .grid-column:nth-of-type(3) {
        grid-column: 6/7;
    }
}


/************************ designere siden **********************/

/************************ designere siden **********************/

.designer_overskrift {
    padding: 0 1rem;
    margin: 0;
}

#designerne {
    padding: 0 1em 4em 1em;

}

.baggrund {
    height: 38em;
    background: #d2af91;
    position: absolute;
    top:20em;left:0;
    width:100%;
    z-index: -1;
}

.container {
  position: relative;
  width: 100%;

}

.image {
  display: block;
  width: 100%;
    height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(243, 243, 244, 0.8);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

#designerne .item {
    padding-top: 6em;
}

#designerne .navn {
    margin-top: 2em;
   font-size: 1.2em;

}

@media only screen and (min-width: 401px) and (max-width: 768px){
    #designerne {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5vw;
        padding: 0 20vw 10em 20vw;
    }


    .designer_overskrift {
        padding: 0 20vw;
    }

    .baggrund {
    height: 25em;
    top: 40em;
}

    .logo {

    width: 20vw;
}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    #designerne {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5vw;
        padding: 0 20vw 10em 20vw;
    }


    .designer_overskrift {
        padding: 0 20vw;
    }

    .baggrund {
    height: 30em;
    top: 50em;
}

    .logo {

    width: 20vw;
}
}

@media only screen and (min-width: 1025px) {
    #designerne {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5vw;
        padding: 0 20vw 10em 20vw;
    }


    .designer_overskrift {
        padding: 0 20vw;
    }

    .baggrund {
    height: 40em;
    top: 65em;
}

    .logo {

    width: 20vw;
}
}
